.page-content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page-content-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}