.film-content {
  max-width: 900px;
  margin: 0 auto;
}

.film-content__list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  flex-wrap: wrap;
}

.film-content__list--item {
  margin: 5px;
  position: relative;
}

.film-content__list--item-admin {
  margin-right: 10%;
}

.film-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding-left: 5px;
  max-width: 180px;
  color: black;
}

.film-content__list--item:hover {
  transition: .5s ease-out;
  box-shadow: 10px 10px 10px rgb(113 113 113);
  cursor: pointer;
}

.film-content__list--item-text {
  list-style-type: none;
  padding-left: 20px;
  opacity: 0;
  width: 200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(13, 15, 17, 0.8);
}

.film-content__list--item-text:hover {
  opacity: 1;
  transition: .3s ease-out;
}

.film-image {
  width: 200px;
  height: 300px;
}

.film-image:hover {
  box-shadow: 0 0 0 5px rgba(104, 165, 201, 0.5);
}

.film-content__list--delete-button {
  width: 40px;
  height: 40px;
  background-image: url(./img/delete.svg);
  position: absolute;
  top: 0;
  right: -50px;
  border-radius: 50%;
  border: 1px solid red;
  display: none;
}

.film-content__list--delete-button:hover {
  box-shadow: 0 4px 8px red;
  cursor: pointer;
  transition: .5s ease-out;
}