.registration-content {
  max-width: 260px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.form-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.input-reg {
  margin-bottom: 20px;
  display: block;
  min-width: 250px;
  height: 25px;
  font-size: 14px;
}

.button-container-reg {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.button {
  min-width: 100px;
  min-height: 50px;
}

.button:hover {
  background-color: #a4b7d3;
  transition: .3s ease-out;
  box-shadow: 0 4px 8px rgb(113 113 113);
  border-width: 2px;
}

.input-email-error, .input-password-error,
.input-name-error, .input-surname-error,
.input-confirm-password-error{
  display: none;
  color: red;
  margin: 0;
}
